*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff5d7;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color:  wheat;
    border-radius: 5px;
}
.header .logo{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 500;
    background-color:  wheat;
    text-transform: uppercase;
}

.header .postCount {
    font-size: 20px;
    position: relative;
    margin-right: 30px;
    bottom: 10px; 
    background-color:  wheat;
    font-weight: 500;
}

.header .input{ 
    background-color:  wheat;
   margin-top: 8px;
   position: relative;
   right: 50px;
}

.header .input .searchBox{
    background-color: #161748;
    color: snow;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 0px;  
    outline: none;
    box-sizing: border-box;
}

.input .clearPostBtn{
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    width: 150px;
    height: 5vh;
    background-color: #ff5e6c;
    border: none;
    position: relative;
    top: -8px;
    left: 10px; 
}


.addPost{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: wheat;
}

.addPost div{
    padding: 20px;
    font-size: 20px;
    background-color: wheat;
}

.addPost .title, .content{
    padding: 0 15px;
    border-radius: 0px;  
    outline: none;
    box-sizing: border-box;
    background-color: #161748;
    color: snow;
}

.addPost .addPostBtn{
    width: 150px;
    height: 5vh;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background-color: #ff5e6c;    
}
.dispContent{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: wheat;
}


.innerDivContent {
    margin: 10px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    text-align: justify;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #ff5e6c;
}

.innerDivContent .disptitle{
    font-size: 20px;
    font-weight: 500;
    background-color: #ff5e6c;
}

.innerDivContent .dispcontent{
    font-size: 22px;
    background-color: #ff5e6c;
}