*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.header .logo{
    font-size: 30px;
}

.header .postCount {
    font-size: 30px;
    position: relative;
    top: 25px;
}

.header .input{
    margin-top: 20px;
}

.input .searchPostBtn{
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: 150px;
    height: 5vh;   
}


.addPost{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.addPost div{
    padding: 20px;
    font-size: 20px;
}

.addPost .addPostBtn{
    width: 150px;
    height: 5vh;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border: none;

}
.dispContent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.innerDivContent {
    margin: 10px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

.innerDivContent .title{
    font-size: 24px;
    font-weight: 500;
}

.innerDivContent .content{
    text-align: justify;
    font-size: 28px;
}